{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class = "form">
        <h1 class ="title1"><br><br><br>Darin's Personal Agenda <h1>
        <p class = "quotes">The secret of your success determined by your daily agenda. - John C. Maxwell <p>
            <form action="{% url 'ppw5:activity_post' %}" method="POST">
                {% csrf_token %}
                <div class = "row center-block"></div>
                <div class="col-md-4 col-md-offset-4 mx-auto">
                    <div class="form-group">
                        <label for="activity">Activity:</label>
                            {{form.activity_name}}
                        <label for="Location">Location:</label>
                            {{form.place_name}}
                        <label for="date">Date:</label>
                            {{form.date_time}}
                        <label for="activity">Time:</label>
                            {{form.time}}
                        <br><label for="category">Category:</label>
                            {{form.category_name}}
                        </div>
                        <button type="submit" class="btn btn-default btn-block center-block">Add Agenda</button>
                        <br><br>        
                </div>
            </div>
            </form>
    </div>
{% endblock content %}