{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class ="title1"><br><br><br>Your Agenda</h1>
{% if result %}
<table class="table">
            <thead class = "quotes">
                <th>Date</th>
                <th>Time</th>
                <th>Activity</th>
                <th>Location</th>
                <th>Category</th>
            </thead>
            <tbody class = "quotes">
                {% for i in result %}
                    <td> {{i.date_time}} </td>
                    <td> {{i.time}} </td>
                    <td> {{i.activity_name}} </td>
                    <td> {{i.place_name}} </td>
                    <td> {{i.category_name}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{%else%}
<br>
<p class = "quotes">You don't have any agendas! :D </p>
{% endif %}
        <br><br>
        <div class="col-md-12 butstyle">
            <button type="submit" class="btn btn-default" onclick = "location.href='{% url 'ppw5:empty'%}'">Delete Agenda</button>
            <button type="submit" class="btn btn-default" onclick = "location.href='{% url 'ppw5:schedule'%}'">Add Agenda</button>
        </div>
{% endblock content %}


