{% load static %}

<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link href="https://fonts.googleapis.com/css?family=Hind+Vadodara:400,500,700" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
            <title>Darin's Personal Agenda</title>
            <link rel="icon" href="https://cdn1.iconfinder.com/data/icons/banking-and-finance-7-1/128/323-512.png">
        </head>
        <body>
            {% block content %}
            {% endblock content %}
        </body>
    </html>
