<!DOCTYPE html>
    <html lang="en" style="height: 100%">
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>Your Online Diary</title>
            <link rel="icon" href ="https://cdn0.iconfinder.com/data/icons/love-and-heart-part-2/100/060_-_book-512.png">
        </head>
        <body>
            <div class = "row center-block" style="height: 100vh">
                    <div class="col-md-6 mx-auto" style="background-image: linear-gradient(to right, #ddd6f3, #faaca8);
                        background-size: auto 100%;
                        background-repeat: no-repeat;
                        background-position: left top;
                        background-attachment: fixed; 
                        height: 100%">
                        <br><br><br><br><br><br><br><br>
                        <p style="text-align:center; font-size:3rem"><strong>Hello! How are you?</strong></p>
                        <p style="text-align:center; font-size:1rem">Fill in the form to get lorem ipsum </p>
                        <div class = "form">
                            <form action="{% url 'ppw6:how' %}" method="POST">
                                {% csrf_token %}
                            <div class="form-group">
                                {{form.how_are}}
                                </div>
                                <button type="submit" class="btn btn-default btn-block center-block">Submit</button>
                                </form>
                            </div>
                        </div>
                    <div class="col-md-6" style="background-color:#EBD5D5">
                            <br><br>
                            <div class="card">
                                    <div class="card-header">
                                      <strong>Hi! I am..</strong>
                                    </div>
                                    <div class="card-body">
                                      <blockquote class="blockquote mb-0">
                                        <p>
                                            <table style="width:100%">
                                                {% if result %}
                                                    <!-- <tr>
                                                        <th>Mood</th>
                                                        </tr> -->
                                                            {% for i in result %}
                                                                <tr>
                                                                    <td>{{ i.how_are }}</td>
                                                                    <td>{{ i.submit_time }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        {% else %}
                                                            <h5> Tell me! :) </h5> 
                                                        {% endif %}
                                                    </table>
                                        </p>
                                      </blockquote>
                                    </div>
                                  </div>
                         </div>
                    </div>
            </div>

        </body>