body{
    overflow-x: hidden;
}
.navbar{
    background: #685454;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.navbar .navbar-brand{
    color: #FFF9F9;
    font-size: 20px;
}
.navbar .nav-item{
    color: #FFF9F9;
    font-size: 1.2rem;
}
.navbar .nav-item:hover{
    color: #FFF9F9;
}
.navbar-toggler{
    background-color: #FFF;
}
.pink{
    background-color: #EBD5D5;
    padding-bottom: 2vw;
    
}
.cream{
    background-color: #f2f2f2;
    padding-bottom: 2vw;
}
.fotodarin{
  margin-left: 8vw;
}
.txt{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
.pagetxt{
    text-align: left;
    font-size: 2rem;
    margin-left: 7vw;
    margin-top: 2vw;
    color: #685454;
}
.hitxt{
    margin-left: 2vw;
    text-align: left;
    font-size: 10rem;
    color: #000000;
}
.nametxt{
    margin-left: 2vw;
    text-align: left;
    font-size: 2rem;
    color: #000000;
}
.desctxt{
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: justify;
    font-size: 1.1rem;
    color: #000000;
}
#bars {
	margin: 2em auto;
	max-width: auto;
	overflow: hidden;
}

.bar {
	float: left;
	width: 25%;
	text-align: center;
}

.bar h3 {
    font-size: 1.7vw;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 1vw;
	margin-left: 2vw;
    text-transform: uppercase;
}

.bar-circle {
    display: block;
    margin-top: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
    width: 20vw;
    height: 17vw;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

/* .section SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.section {
  background: #F45B69;
  padding: 50px 0;
}

.section .container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.section h1 {
  font-size: 2.5rem;
}

.section h2 {
  font-size: 1.3rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  white-space: nowrap;
  overflow-x: hidden;
}

.timeline ol {
  font-size: 0;
  width: 100vw;
  padding: 250px 0;
  transition: all 1s;
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 160px;
  height: 3px;
  background: #fff;
}

.timeline ol li:last-child {
  width: 280px;
}

.timeline ol li:not(:first-child) {
  margin-left: 14px;
}

.timeline ol li:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: #F45B69;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 280px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: black;
  background: white;
}

.timeline ol li div::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: white transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent white;
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* TIMELINE ARROWS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline .arrows {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.timeline .arrows .arrow__prev {
  margin-right: 20px;
}

.timeline .disabled {
  opacity: .5;
}

.timeline .arrows img {
  width: 45px;
  height: 45px;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 599px) {
  .timeline ol,
  .timeline ol li {
    width: auto; 
  }
  
  .timeline ol {
    padding: 0;
    transform: none !important;
  }
  
  .timeline ol li {
    display: block;
    height: auto;
    background: transparent;
  }
  
  .timeline ol li:first-child {
    margin-top: 25px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: auto;
  }
  
  .timeline ol li div {
    width: 94%;
    height: auto !important;
    margin: 0 auto 25px;
  }
  
  .timeline ol li div {
    position: static;
  }
  
  .timeline ol li:nth-child(odd) div {
    transform: none;
  }
  
  .timeline ol li:nth-child(odd) div::before,
  .timeline ol li:nth-child(even) div::before {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: none;
    border-left: 1px solid white;
    height: 25px;
  }
  
  .timeline ol li:last-child,
  .timeline ol li:nth-last-child(2) div::before,
  .timeline ol li:not(:last-child)::after,
  .timeline .arrows {
    display: none;
  }
}
.touchtxt{
    text-align: left;
    font-size: 3rem;
    margin-left: 7vw;
    margin-top: 8.5vw;
    color: #000000
}
.getintxt{
    text-align: justify;
    font-size: 1.5rem;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 1vw;
    color: #000000
}
.icon{
    margin-left: 10vw;
}
.licon{
    margin-top: 1vw;
}
.sendtxt{
    text-align: left;
    font-size: 3rem;
    margin-left: 7vw;
    margin-top: 10vw;
    color: #000000
}
.shorttext{
    margin-left: 7vw;
}
.textarea{
    margin-left: 7vw;
    resize: none;
    width: 100%
}
.accounttxt{
    vertical-align: middle;
}
.submit{
    margin-left: 7vw;
    background-color: #685454;
    font-family: 'Roboto', sans-serif;
    color: #F2F2F2;
}
.positionsubmit{
  margin-left: 1vw;
}