{% load static %}

<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,700,700i" rel="stylesheet">
            <title>Yo Yo Yo</title>
            <link rel="icon" href="https://cdn4.iconfinder.com/data/icons/chat-icons-3/512/hello_1.png">
        </head>
        <style>
            body{
                background-color: rgb(242, 140, 140);
                font-family: 'Raleway', sans-serif;
                overflow: hidden;
            }
            h1{
                font-weight: bold;
                text-align: center;
                color: rgb(249, 241, 12);
            }
            
            img{
                margin-top: 5vh;
            }
            summary{
                color: rgb(249, 241, 12);
                font-weight: bold;
                text-align: center;
            }
            details{
                margin-bottom: 10vh;
            }
        </style>
        <body>
            <div class="row">
                <div class="col-md-6">
                    <br><br><br><br><br>
                    <h1>Welcome!</h1>
                    <p style = "text-align: center;
                    font-weight: bold;
                    margin-left: 2vw;">Jadi <i>website</i> ini berisi kumpulan tutorial Darin selama 
                        kuliah belajar bikin <i>website</i> (PPW) di Fasilkom UI. Maaf 
                        banget mulai dari tutorial 1 sampe tutorial terbaru (bahkan <i>page</i> ini), <i>website</i>nya nggak pernah 
                        konsisten <i>design</i>nya, yah namanya juga belajar, buat eksperimen gitu hehe. <i>Cheers!</i></p>
                        <details>
                            <summary>Click me for details!</summary>
                            <p class style="text-align:center"><a href = "http://ppw-b-ppw-darina.herokuapp.com/" target="_blank" style="color:rgb(249, 241, 12);
                            font-weight: bold;"> Story-1</a> Introduction to Web Design and Programming</p>
                            <p class style="text-align:center"><a href = "http://ppw-darina.herokuapp.com/ppw4/" target = "_blank" style="color:rgb(249, 241, 12);
                            font-weight: bold;"> Story-4</a> Introduction to Django Framework</p>
                            <p class style="text-align:center"><a href = "http://ppw-darina.herokuapp.com/ppw5/schedule/" target ="_blank" style="color:rgb(249, 241, 12);
                                font-weight: bold;"> Story-5</a> Django Framework (Models)</p>
                            <p class style="text-align:center"><a href = "http://ppw-darina.herokuapp.com/ppw6/" target ="_blank" style="color:rgb(249, 241, 12);
                            font-weight: bold;"> Story-6</a> TDD with Django</p>
                            <p class style="text-align:center"><a href = "http://ppw-darina.herokuapp.com/ppw8/" target ="_blank" style="color:rgb(249, 241, 12);
                            font-weight: bold;"> Story-8</a> Javascript and JQuery</p>
                            <p class style="text-align:center"><a href = "http://ppw-darina.herokuapp.com/ppw9/book/" target ="_blank" style="color:rgb(249, 241, 12);
                            font-weight: bold;"> Story-9 & 11</a> AJAX Dynamic Data Access & OAuth, Cookie, and Session</p>
                            <p class style="text-align:center"><a href = "http://ppw-darina.herokuapp.com/ppw10/subscribe/" target ="_blank" style="color:rgb(249, 241, 12);
                                font-weight: bold;"> Story-10</a> Intro to API: Webservice</p>
                        </details>
                              
                </div>
                <div class="col-md-6">
                    <img src = "https://www.bluetext.com/wp-content/uploads/2018/01/web-design-agency.png" width="600" height="550">
                </div>
            </div>
        </body>
        </html>