html, body {
    height:100%;
} 

body {
    background-image: linear-gradient(to right, #ddd6f3, #faaca8);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
}

.title1{
	font-size: 2rem;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	font-family: 'Hind Vadodara', sans-serif;
}

.quotes{
	font-size: 1rem;
	color: #FFFFFF;
	text-align: center;
	font-family: 'Hind Vadodara', sans-serif;
}

.form-group label{
    font-size: 1rem;
	color: #FFFFFF;
}

input[type = "date"]{
    font-size: 1rem;
    color: #faaca8;
    font-family: 'Hind Vadodara', sans-serif;
}

input[type = "time"]{
    font-size: 1rem;
    color: #faaca8;
    font-family: 'Hind Vadodara', sans-serif;
}

Select{
    font-size: 1rem;
    color: #faaca8;
    font-family: 'Hind Vadodara', sans-serif;
}

.butstyle{
    text-align: center;
}