body{
    background: #ffb7b7;
}
.leftside{
    background-color: rgb(249, 241, 12);
}
.card-title{
    padding-top: 2rem;
}
.green-text{
    color: green;
}
.red-text{
    color: red;
}
.another-text{
    color: purple;
}