{% extends 'navbar.html' %}
{% load static %}
{% block content %}
                <a id="to-contact" class="nav-item nav-link" href="{% url 'home' %}">HOME</a>
                </div>
                </div>
                </nav>
            <div class = "row">
            <div class="col-md-6" style="background-color: #f2f2f2">
                    <br><br><br><br><br><br><br><br><br><p style="text-align:center; font-size:3rem" class="txt">Hello World.</p><br>
                    <p style="text-align:center; font-size:1rem" class="txt">Fill in the form to get lorep ipsum </p>
                </div>
            <div class="col-md-6" style="background-color:#EBD5D5">
                    <div class="container">
                            <br><p style="font-size:1.5rem; margin-top:1vw" class="float-left txt">Register</p>
                            <br><br><br>
                                <div class="form-group">
                                    <label for="name">Name:</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter your name" name="name">
                                </div>
                                <div class="form-group">
                                    <label for="birthday">Birthday Date:</label>
                                    <input type="date" class="form-control" id="birthday" placeholder="Enter your birthday date" name="birthday">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" placeholder="Enter your email" name="email">
                                </div>
                                <div class="form-group">
                                    <label for="username">Username:</label>
                                    <input type="text" class="form-control" id="username" placeholder="Enter your username" name="username">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Password:</label>
                                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                                </div>
                                <div class="form-group">
                                    <label for="pwd">Verify Password:</label>
                                    <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
                                </div>
                            </div>
                            <br>
                            <a href="{% url 'home' %}"><button type="submit" class="positionsubmit submit btn btn-default" onclick="myFunction()">Submit</button></a>
                            </form>
                        </div>
                </div>
            </div>
            <script>
                function myFunction() {
                          alert("Thank you! :)");
                      }
            </script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        </body>
        </html>
        {% endblock %}
