{% extends 'navbar.html' %}
{% load static %}
{% block content %}
              <a id="to-about" class="nav-item nav-link active" href="#">ABOUT <span class="sr-only">(current)</span></a>
              <a id="to-skills" class="nav-item nav-link" href="#skills-pos">SKILLS</a>
              <a id="to-education" class="nav-item nav-link" href="#education-pos">EDUCATION</a>
              <a id="to-contact" class="nav-item nav-link" href="#contact-pos">CONTACT</a>
              <a id="to-contact" class="nav-item nav-link" href="{% url 'register' %}">REGISTER</a>
            </div>
            </div>
            </nav>
            <!--PAGE 1 (ABOUT)-->
            <div class="row pink">
              <div class="col-md-6">
                        <p class = "pagetxt txt">ABOUT</p>
                        <img class = "img-fluid float-right" src = "https://image.ibb.co/kcjPBe/pHOTO.png">
              </div>
              <div class ="col-md-6">
                  <br><br><br><br>
                  <p class = "hitxt txt">Hi!</p>
                  <p class="nametxt txt">I'm Darin Amanda Zakiya</p>
                  <p class = "desctxt txt">Darin Amanda Zakiya (Darin), 19, is currently a 2nd-year undergraduate student at Faculty of Computer Science, University of Indonesia, majoring in Computer Science.
                      <br><br>Darin is a passionate person and also known as an easy going and well-minded person. She has a strong willingness to learn and thrive to be a better person, she is also an enthusiastic person for new experiences. Darin loves to communicate with people and also loves to be in challenging surroundings. Currently, she has interests in information technology, leadership development, human resources, business development, and product management.</p>
              </div>
            </div>

            <!--PAGE 2 (SKILLS)-->
            <div class="row skills1 cream"id="skills-pos">
                <p class = "pagetxt txt">SKILLS</p>
                <div id="bars">
                        <div class="bar" data-percent="100">
                            <canvas class="bar-circle" width="70" height="70"></canvas>
                        <h3>CSS</h3>
                        </div>
                        <div class="bar" data-percent="85">
                            <canvas class="bar-circle" width="70" height="70"></canvas>
                        <h3>HTML5</h3>
                        </div>
                        <div class="bar" data-percent="50">
                            <canvas class="bar-circle" width="70" height="70">
                        </canvas>
                        <h3>JavaScript</h3>
                        </div>
                        <div class="bar" data-percent="100">
                            <canvas class="bar-circle" width="70" height="70">
                        </canvas>
                        <h3>PHP</h3>
                        </div>
                    </div>                    
                    <script>
                      function myFunction() {
                          alert("Thank you! Your message has been sent :)");
                      }

                        (function() {
                            
                            var Progress = function( element ) {
                                
                                this.context = element.getContext( "2d" );
                                this.refElement = element.parentNode;
                                this.loaded = 0;
                                this.start = 4.72;
                                this.width = this.context.canvas.width;
                                this.height = this.context.canvas.height;
                                this.total = parseInt( this.refElement.dataset.percent, 10 );
                                this.timer = null;
                                
                                this.diff = 0;
                                
                                this.init();	
                            };
                            
                            Progress.prototype = {
                                init: function() {
                                    var self = this;
                                    self.timer = setInterval(function() {
                                        self.run();	
                                    }, 25);
                                },
                                run: function() {
                                    var self = this;
                                    
                                    self.diff = ( ( self.loaded / 100 ) * Math.PI * 2 * 10 ).toFixed( 2 );	
                                    self.context.clearRect( 0, 0, self.width, self.height );
                                    self.context.lineWidth = 10;
                                    self.context.fillStyle = "#000";
                                    self.context.strokeStyle = "#EBD5D5";
                                    self.context.textAlign = "center";
                                    
                                    self.context.fillText( self.loaded + "%", self.width * .5, self.height * .5 + 2, self.width );
                                    self.context.beginPath();
                                    self.context.arc( 35, 35, 30, self.start, self.diff / 10 + self.start, false );
                                    self.context.stroke();
                                    
                                    if( self.loaded >= self.total ) {
                                        clearInterval( self.timer );
                                    }
                                    
                                    self.loaded++;
                                }
                            };
                            
                            var CircularSkillBar = function( elements ) {
                                this.bars = document.querySelectorAll( elements );
                                if( this.bars.length > 0 ) {
                                    this.init();
                                }	
                            };
                            
                            CircularSkillBar.prototype = {
                                init: function() {
                                    this.tick = 25;
                                    this.progress();
                                    
                                },
                                progress: function() {
                                    var self = this;
                                    var index = 0;
                                    var firstCanvas = self.bars[0].querySelector( "canvas" );
                                    var firstProg = new Progress( firstCanvas );
                                    
                                    
                                    
                                    var timer = setInterval(function() {
                                        index++;
                                            
                                        var canvas = self.bars[index].querySelector( "canvas" );
                                        var prog = new Progress( canvas );
                                        
                                        if( index == self.bars.length ) {
                                                clearInterval( timer );
                                        } 
                                        
                                    }, self.tick * 100);
                                        
                                }
                            };
                            
                            document.addEventListener( "DOMContentLoaded", function() {
                                var circularBars = new CircularSkillBar( "#bars .bar" );
                            });
                            
                        })();
                    </script>
                </div>
            
            <!--PAGE 3 (EDUCATION)-->
            <div class="row education1 pink" id="education-pos">
                <p class = "pagetxt txt">EDUCATION</p>
                
<section class="timeline">
        <ol>
          <li>
            <div>
              <time>1934</time> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            </div>
          </li>
          <li>
            <div>
              <time>1937</time> Proin quam velit, efficitur vel neque vitae, rhoncus commodo mi. Suspendisse finibus mauris et bibendum molestie. Aenean ex augue, varius et pulvinar in, pretium non nisi.
            </div>
          </li>
          <li>
            <div>
              <time>1940</time> Proin iaculis, nibh eget efficitur varius, libero tellus porta dolor, at pulvinar tortor ex eget ligula. Integer eu dapibus arcu, sit amet sollicitudin eros.
            </div>
          </li>
          <li>
            <div>
              <time>1943</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
            </div>
          </li>
          <li>
            <div>
              <time>1946</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
            </div>
          </li>
          <li>
            <div>
              <time>1956</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
            </div>
          </li>
          <li>
            <div>
              <time>1957</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
            </div>
          </li>
          <li>
            <div>
              <time>1967</time> Aenean condimentum odio a bibendum rhoncus. Ut mauris felis, volutpat eget porta faucibus, euismod quis ante.
            </div>
          </li>
          <li>
            <div>
              <time>1977</time> Vestibulum porttitor lorem sed pharetra dignissim. Nulla maximus, dui a tristique iaculis, quam dolor convallis enim, non dignissim ligula ipsum a turpis.
            </div>
          </li>
          <li>
            <div>
              <time>1985</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
            </div>
          </li>
          <li>
            <div>
              <time>2000</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
            </div>
          </li>
          <li>
            <div>
              <time>2005</time> In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
            </div>
          </li>
          <li></li>
        </ol>
        
        <div class="arrows">
          <button class="arrow arrow__prev disabled" disabled>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_prev.svg" alt="prev timeline arrow">
          </button>
          <button class="arrow arrow__next">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/arrow_next.svg" alt="next timeline arrow">
          </button>
        </div>
      </section>
      <script>
          (function() {

// VARIABLES
const timeline = document.querySelector(".timeline ol"),
  elH = document.querySelectorAll(".timeline li > div"),
  arrows = document.querySelectorAll(".timeline .arrows .arrow"),
  arrowPrev = document.querySelector(".timeline .arrows .arrow__prev"),
  arrowNext = document.querySelector(".timeline .arrows .arrow__next"),
  firstItem = document.querySelector(".timeline li:first-child"),
  lastItem = document.querySelector(".timeline li:last-child"),
  xScrolling = 280,
  disabledClass = "disabled";

// START
window.addEventListener("load", init);

function init() {
  setEqualHeights(elH);
  animateTl(xScrolling, arrows, timeline);
  setSwipeFn(timeline, arrowPrev, arrowNext);
  setKeyboardFn(arrowPrev, arrowNext);
}

// SET EQUAL HEIGHTS
function setEqualHeights(el) {
  let counter = 0;
  for (let i = 0; i < el.length; i++) {
    const singleHeight = el[i].offsetHeight;

    if (counter < singleHeight) {
      counter = singleHeight;
    }
  }

  for (let i = 0; i < el.length; i++) {
    el[i].style.height = `${counter}px`;
  }
}

// CHECK IF AN ELEMENT IS IN VIEWPORT
function isElementInViewport(el) {
  const rect = el.getBoundingClientRect();
  return (
    rect.top >= 0 &&
    rect.left >= 0 &&
    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
  );
}

// SET STATE OF PREV/NEXT ARROWS
function setBtnState(el, flag = true) {
  if (flag) {
    el.classList.add(disabledClass);
  } else {
    if (el.classList.contains(disabledClass)) {
      el.classList.remove(disabledClass);
    }
    el.disabled = false;
  }
}

// ANIMATE TIMELINE
function animateTl(scrolling, el, tl) {
  let counter = 0;
  for (let i = 0; i < el.length; i++) {
    el[i].addEventListener("click", function() {
      if (!arrowPrev.disabled) {
        arrowPrev.disabled = true;
      }
      if (!arrowNext.disabled) {
        arrowNext.disabled = true;
      }
      const sign = (this.classList.contains("arrow__prev")) ? "" : "-";
      if (counter === 0) {
        tl.style.transform = `translateX(-${scrolling}px)`;
      } else {
        const tlStyle = getComputedStyle(tl);
        // add more browser prefixes if needed here
        const tlTransform = tlStyle.getPropertyValue("-webkit-transform") || tlStyle.getPropertyValue("transform");
        const values = parseInt(tlTransform.split(",")[4]) + parseInt(`${sign}${scrolling}`);
        tl.style.transform = `translateX(${values}px)`;
      }

      setTimeout(() => {
        isElementInViewport(firstItem) ? setBtnState(arrowPrev) : setBtnState(arrowPrev, false);
        isElementInViewport(lastItem) ? setBtnState(arrowNext) : setBtnState(arrowNext, false);
      }, 1100);

      counter++;
    });
  }
}

// ADD SWIPE SUPPORT FOR TOUCH DEVICES
function setSwipeFn(tl, prev, next) {
  const hammer = new Hammer(tl);
  hammer.on("swipeleft", () => next.click());
  hammer.on("swiperight", () => prev.click());
}

// ADD BASIC KEYBOARD FUNCTIONALITY
function setKeyboardFn(prev, next) {
  document.addEventListener("keydown", (e) => {
    if ((e.which === 37) || (e.which === 39)) {
      const timelineOfTop = timeline.offsetTop;
      const y = window.pageYOffset;
      if (timelineOfTop !== y) {
        window.scrollTo(0, timelineOfTop);
      }
      if (e.which === 37) {
        prev.click();
      } else if (e.which === 39) {
        next.click();
      }
    }
  });
}

})();
      </script>
                
                </div>
            
            <!--PAGE 5 (CONTACT)-->
            <div class="row contact1 cream" id="contact-pos">
                <div class="col-md-6">
                        <p class = "pagetxt txt">CONTACT</p>
                        <p class = "touchtxt txt">GET IN TOUCH</p>
                        <p class = "getintxt txt">Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit.</p>
                        <br><a href = "https://www.linkedin.com/in/darinamanda/" target="_blank"> <img class = "licon icon" src= "https://image.ibb.co/kDtjxK/linkedin.png" width=35px></a><span class="txt">darinamanda</span>
                        <br><a href = "https://twitter.com/drnamanda" target="_blank"> <img class = "licon icon" src= "https://image.ibb.co/hpy3Pz/twitterok.png" width=35px></a><span class="txt">drnamanda</span>
                        <br><a href = "https://instagram.com/drnamanda" target="_blank"> <img class = "licon icon" src= "https://preview.ibb.co/iRd6Be/instag.png" width=35px></a><span class="txt">drnamanda</span>
                        <br><img class = "licon icon" src= "https://image.ibb.co/in0a4z/mail.png" width=35px><span class="txt">darinamandaz@gmail.com</span>
                </div>
                <div class="col-md-6">
                    <p class = "sendtxt txt">SEND ME A <br>MESSAGE</p>
                    <div class="form-group">
                    <br><p class = "txt shorttext">NAME</p>
                    <textarea class = "textarea" cols ="50" rows="1"></textarea>
                    <br><p class = "txt shorttext">E-MAIL</p>
                    <textarea class = "textarea" cols ="50" rows="1"></textarea>
                    <br><p class = "txt shorttext">MESSAGE</p>
                    <textarea class = "textarea" cols ="50" rows="5"></textarea>
                    <br><button type="submit" class="submit btn btn-default" onclick="myFunction()">Submit</button></a>
                </div>
                </div>
        <script>
        $("#to-about").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#about-pos").offset().top
    }, 500);
});
$("#to-skills").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#skills-pos").offset().top
    }, 500);
});
$("#to-education").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#education-pos").offset().top
    }, 500);
});
$("#to-contact").click(function() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#contact-pos").offset().top
    }, 500);
});
</script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    </html>
{% endblock %}