body{
	margin:0;
    font:400 16px/18px Roboto, sans-serif;
    background: #c99f9f;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}

.accordion-wrap{
	top:0;
	left:0;
	right:0;
	bottom:0;
	padding:15px;
	position:fixed;
}
.accordion{
	width:100%;
	margin:auto;
	max-width:370px;
	overflow:hidden;
	border-radius:3px;
	background:#fae3d9;
    box-shadow:0 17px 50px 0 rgba(0,0,0,.19),0 12px 15px 0 rgba(0,0,0,.24);
    margin-top:8vh;
}
.accordion>a{
	color:#374046;
	padding:15px;
	display:block;
	text-decoration:none;
	transition:all .3s ease-in-out 0s;
}
.accordion>a:not(:last-child){
	border-bottom:1px solid rgba(0,0,0,.2);
}
.accordion>a:hover,
.accordion>a.active{
	background:#d4a5a5;
}
.accordion>a.active{
	color:#35013f;
}
.accordion>a>.alert-numb,
.accordion>.sub-nav>a>.alert-numb{
	color:#eee;
	right:10px;
	height:22px;
	min-width:40px;
	font-size:12px;
	font-weight:600;
	line-height:22px;
	border-radius:15px;
	text-align:center;
	background:#665e51;
}
.accordion .sub-nav{
	display:none;
	color:#374046;
	overflow:hidden;
	background:#fef0ff;
}
.accordion .sub-nav.open{
	display:block;
}
.accordion .sub-nav a{
	display:block;
	color:inherit;
	font-weight:300;
	padding:10px 15px;
	text-decoration:none;
	transition:all .2s ease-in-out 0s;
}
.accordion .sub-nav a:not(:last-child){
	border-bottom:1px solid rgba(0,0,0,.1);
}
.accordion .sub-nav a:hover{
	background:#c2ced1;
	box-shadow:5px 0 0 #8ca3a8 inset;
}
.accordion .html{
	padding:15px;
}
.accordion .about-me{
	text-align:center;
	position:relative;
}
.accordion .about-me h4{
	margin-bottom:0;
}
.accordion .about-me p{
	font-size:14px;
	font-weight:300;
	margin-bottom:0;
}
.accordion .about-me .photo{
	width: 120px;
	height:120px;
	margin:auto;
	overflow:hidden;
	border-radius:50%;
	position:relative;
	border:4px solid #fff;
	box-shadow:0 6px 20px 0 rgba(0,0,0,.19),0 8px 17px 0 rgba(0,0,0,.2);
	background:url(https://media.licdn.com/dms/image/C5103AQFpjEDCU6Mr_g/profile-displayphoto-shrink_200_200/0?e=1544054400&v=beta&t=3uHtucS6fkToRGyISNSoBpKCcVBzwHvTh4Qpp3RgU8Q) no-repeat center;
}
.accordion .about-me .photo .photo-overlay{
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
	visibility:hidden;
	position:absolute;
	background:rgba(0,0,0,.4);
}

.accordion .about-me .photo:hover .photo-overlay{
	opacity:1;
	visibility:visible;
}

.accordion .invite{
	text-align:center;
}
.accordion .invite .btn{
	color:#eee;
	font-weight:500;
	background:#ccc;
	padding:10px 15px;
	border-radius:2px;
	background:#f15e95;
	display:inline-block;
	text-transform:uppercase;
}
.accordion .invite .btn:hover{
	box-shadow:none;
	background:#cb386f;
} 

#myBtn src{
    display: block;
    height: 20px;  
    width: 20px;
}

