{% load static %}

<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title>Subscribe</title>
            <link rel="icon" href ="https://siwemjwara.files.wordpress.com/2016/05/subscribe-button-heart-e1453319048819.png?w=764">
            <link rel="stylesheet" href="{% static 'lab10style.css' %}">
            <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
            <script type="text/javascript" src="{% static 'lab10.js' %}"></script>
        </head>
        <body onload="listUser()">
            <a class="btn btn-primary" style="background-color: #f15e95; color: #eee; margin: 5vh 5vh 0vh 5vh" href="http://ppw-darina.herokuapp.com/ppw8/" target="_blank">Profile</a>
            <br><br><br><br>
            <div class="card" style="width: 50rem; border-radius: 15px; 
            display: block;
            margin-left: auto;
            margin-right: auto;">
                <div class="card-body">
                    <div class = "row">
                            <div class="col-md-3 leftside">
                            </div>
                            <div class="col-md-9">
                                <h5 class="card-title">Subscribe Now!</h5>
                                <p class="card-text">Subscribe to get the latest blabla</p>
                                <p class="text-center" id="alerttext"> &nbsp </p>
                                <form id="subscriber_form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% for field in form.visible_fields %}
                                        <div class="form-group row">
                                            <label for="inputName" class="col-md-2 col-3 text-right">
                                                {{ field.label_tag }}
                                            </label>
                                            <div class="col-9 col-md-10">
                                                {{ field }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <br>
                                    <button id="submitbutton" onclick="userclick()" class="btn btn-primary" style="background-color:rgb(249, 241, 12);color: black;" disabled>Subscribe</button>
                                </form>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="card" style="width: 50rem; border-radius: 15px; 
            display: block;
            margin-left: auto;
            margin-right: auto">
             <div class="card-body">
                    <h5 class="card-title">Subscriber(s)</h5>
                    <div class="table-responsive">
                            <table id="table_subscriber" class="table" style="font-size: 15px;">
                                <thead>
                                    <tr class="table text-center">
                                        <th scope="col" class="align-middle">No</th>
                                        <th scope="col" class="align-middle">Name</th>
                                        <th scope="col" class="align-middle">Email</th>
                                        <th scope="col" class="align-middle"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
             </div>
             </div>
             <br><br><br>
        </body>
        </html>