{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'lab8css.css' %}">
    <link rel = "icon" href = "https://i.pinimg.com/originals/bd/29/f2/bd29f2a3d0603b2f8d7ccd2c4b45ad90.png">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'lab8.js' %}"></script>
    <title>About</title>
</head>
<body onload="myFunction()" style="margin:0;">
<div class="accordion-wrap">
        <a href="#" id = "myBtn"> <img src="http://pluspng.com/img-png/png-paint-palette-paint-palette-icon-1600.png" alt="Palette" width="45" height="45"></a>
        <div id="loader"></div>
        <div style="display:none;" id="myDiv" class="animate-bottom">
        <div class="accordion">
		<a href="#" class="active">Profile</a>
		<div class="sub-nav active">
			<div class="html about-me">
				<div class="photo">
					<div class="photo-overlay">
					</div>
				</div>
				<h4>Darin Amanda Zakiya</h4>
                <p>Hello I'm Darin! I am currently a 2nd-year undergraduate student at Faculty of Computer Science, University of Indonesia, majoring in Computer Science.</p>
			</div>
		</div>
        <a href="#">Activities</a>
		<div class="sub-nav">
			<div class="html invite">
				<p>Kuliah aja</p>
			</div>
        </div>
        <a href="#">Experiences</a>
		<div class="sub-nav">
			<div class="html invite">
                <p>Staff of Seminar COMPFEST X</p>
                <p>Staff of Human Resources Development Bureau BEM Fasilkom UI 2018</p>
                <p>Secretary of Open House Fasilkom UI 2018</p>
			</div>
        </div>
        <a href="#"></i>Achievements</a>
		<div class="sub-nav">
			<div class="html invite">
				<p>Happy</p>
			</div>
		</div>
		<a href="#"> More </a>
		<div class="sub-nav">
			<div class="html invite">
				<p> Want to know me more? </p>
                <a class="btn" href="http://ppw-darina.herokuapp.com/ppw4" target="_blank">PROFILE</a>
                <a class="btn" href="http://ppw-darina.herokuapp.com/ppw10/subscribe" target="_blank">SUBSCRIBE</a>
			</div>
		</div>
    </div>
</div>
</body>
<script>
$("#myBtn").click(function() {
    //write funtion that generates random color and sticks it to the background per click;
    var r = Math.floor(Math.random() * 256);
    var g = Math.floor(Math.random() * 256);
    var b = Math.floor(Math.random() * 256);
    console.log(r, g, b);
    var color = "rgb" + "(" + r + "," + g + "," + b + ")";
    console.log(color);
    $('body').css('background', color);
  });
</script>
</html>

