{% load static %}

<!DOCTYPE html>
<html>   
<head>
    <title>Your Library</title>
    <link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/Closed_Book_Icon.svg/2000px-Closed_Book_Icon.svg.png" type="image/gif" sizes="16x16">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'lab9.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="{% static 'lab9.js' %}"></script>
</head>

<body>
    <div style="padding-top: 2%; margin-left: 10%;margin-right: 10%;">
        <div class = "row">
            <div class = "col-md-7">
                <!-- <p style = "font-size: 2.5rem; color: blanchedalmond; font-weight: bold">Your Library!</p> -->
                {% if user.is_authenticated %}
                <h1 style = "font-size: 2.5rem; color: blanchedalmond; font-weight: bold">
                    Hello, {{ user.first_name }}!
                </h1>
                <a role="button" href="/ppw9/logout/"
                class="bg-light btn btn-outline-danger">Logout</a>
                {% else %}
                <h1 style = "font-size: 2.5rem; color: blanchedalmond; font-weight: bold">
                    Your Library
                </h1>
                <div class="btn btn-light my-2">
                    <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-decoration:none">
                        <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>
                        Login with Google
                    </a>
                </div>    
                {% endif %}
            </div>
            <div class = "col-md-5">
                <div class="container1">
                    <img src="https://mbtskoudsalg.com/images/star-icon-png-transparent-background-2.png" alt="star" max-width="75px;" height="75px;">
                    <span style = "font-size: 1.5rem; color: blanchedalmond; font-weight: bold">Favourite(s):</span>
                    <span id = "counter" style = "font-size: 1.5rem; color: blanchedalmond; font-weight: bold">0</span>
                    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
                    <form action="">
                        <input id="myInput" type="search" placeholder="Search book here!">
                        <i class="fa fa-search"></i>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <div style="padding-top: 1%; margin-left: 10%;margin-right: 10%;">
        <div class="table">
            <table id="demo" class="table-responsive table-warning table-hover" style="text-align: center; 
            font-size: 1.2rem; font-weight: bold; font-family: 'Slabo 27px', serif;">
            <thead class = "thead-light">
            <tr class="table text-center">
                <th scope="col" class="align-middle">No</th>
                <th scope="col" class="align-middle">Cover</th>
                <th scope="col" class="align-middle">Title</th>
                <th scope="col" class="align-middle">Authors</th>
                <th scope="col" class="align-middle">Publisher</th>
                <th scope="col" class="align-middle">Published Date</th>
                <th scope="col" class="align-middle">Categories</th>
                <th scope="col" class="align-middle">Add to Favourite(s)</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
</div>
</body>
